
<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
      <company-sidebar></company-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
      <company-navbar></company-navbar>
        <!-- <router-outlet name="company"></router-outlet> -->
        
        
    </div>

    <div class="footer">
      <div>
           <company-footer></company-footer>
      </div>
    </div>

</div>