<company-navbar></company-navbar>

<div class="wrapper">
  <div class="sidebar" data-color='red' data-image=""  style="z-index:2032">
      <company-sidebar></company-sidebar>
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
          
          <!-- <router-outlet></router-outlet> -->
          <div class="main-content">

              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
        
                          <div class="card">
                              <div class="card-header" data-background-color="orange">
                                  <h4 class="title">Change Password</h4>                          
                              </div>
        
                              <div class="card-content">
                                <form>
                                    <div class="row">
                                          <div class="" matTooltip="Current Password" [matTooltipPosition]="position">
                                                  <mat-form-field class="full-width">
                                                      <input matInput type="password" id="oldPasswordBox"  placeholder="Current Password">
                                                     
                                                     <!--  <mat-hint align="start">
                                                              <div *ngIf="isOldPasswordMatched=='true'" class="passwordMatch">Current Password Matched Successfully</div>
                                                      </mat-hint> -->
                                                    </mat-form-field>
                                                  </div>
                                    </div>
                                    <div class="row" id="changePassword">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="" matTooltip="Maximum 8 Characters!!! Atleast 1 uppercase,1 lowercase,1 special character and 1 number" [matTooltipPosition]="position">
                                            <mat-form-field class="full-width">
                                                <input matInput type="password" #password minlength="4" maxlength="8" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"  placeholder="New Password" >
                                               
                                                <mat-hint align="start">{{password.value.length}} / 8 </mat-hint>
                                              </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="" matTooltip="Password Pattern!" [matTooltipPosition]="position">
                                                <mat-form-field class="full-width">
                                                    <input matInput type="password"   (keyup)="matchNewPassword($event)" id="confirmPassword" placeholder="Confirm Password">
                                                   
                                                    <mat-hint align="start">
                                                      <div *ngIf="isMatched=='true'" class="passwordMatch">Password Match</div>
                                                      <div *ngIf="isMatched=='false'"class="passwordNotMatch">Password Does not Match</div>
                                                     
                                                    </mat-hint>
                                                  </mat-form-field>
                                                </div>
                                        </div>
                                       
                                    </div>
                                  <button type="submit" class="btn btn-success pull-right" id="changePasswordButton" (click)="changePassword()">Change Password</button>
                                  </div>
                              </form>
                              </div>
                      </div>
                  </div>
            </div>
        
        
          </div>




            </div>
<company-footer></company-footer>


</div>
</div>