<app-landing-navbar #navBar></app-landing-navbar>

<div class="wrapper">
<div class="sidebar hidden-md hidden-lg" data-color='blue' data-image="">
      <app-landing-sidebar [navBar]="navBar"></app-landing-sidebar>
      <div class="sidebar-background" ></div>
      <!-- style="background-image: url(../assets/img/sidebar-4.jpg)" -->
    </div>
    <div class="main-panel">
    
    <!-- <nav class="navbar navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#" style="color:aliceblue; font-size: 20px;"><i class="material-icons notranslate">directions_boat</i> Get My Req</a>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item"><a  class="nav-link" href="#mission_vission" (click)="activateNav()">Mission & Vission</a></li>
          <li class="nav-item"><a  class="nav-link" href="#view_demo" (click)="activateNav()">Demo</a></li>
          <li class="nav-item"><a  class="nav-link" href="#brief_background" (click)="activateNav()">Background</a></li>
          <li class="nav-item"><a  class="nav-link" href="#probSoln" (click)="activateNav()">Solutions</a></li>
          <li class="nav-item"><a  class="nav-link" href="#contactUs" (click)="activateNav()">Contact Us</a></li>
        </ul>
      </div>
    </nav> -->
<!--     
    <div class="col-md-12">
        <div class="row">
          <iframe width="100%" height="500"
          src="https://www.youtube.com/embed/tgbNymZ7vqY?">
          </iframe>
        </div>
        <div class="row" style=" text-align:center; border-radius:20px">
          <h1>Provision ordering and Inventory Management System</h1>
        </div>
    </div>
     -->
     
      <div class="main-content">
        <div class="container-fluid parallax_mission_vission" id="mission_vission" >
          <div class="row">
            
            <div class="col-md-12">
              <section  style="margin-top:100px;padding:10px;border-bottom:0px;">
                  <!-- <div class="row">
                      <div class="col-md-4" style="text-align:left;">
                          <h2 style="z-index:1;position:relative;"><mark>Mission</mark></h2>
                          <p class=" fold-right">
                              To be one of the most exclusive service
                              providers in the Marine IT industry and deliver
                              the highest quality, reliable and cost-effective
                              services to marine businesses.
                          </p>
                        </div>
                      <div class="col-md-4 col-md-offset-4" style="text-align:right;">
                          <h2 style="z-index:1;position:relative;"><mark>Vision</mark></h2>
                          <p class=" fold-left" >
                              Tech-Innology aims to bring the very best of
                               Information technology to the marine
                              environment keeping the mariners and end
                              users as the focus.
                          </p>
                      </div>
                  </div> -->
                <div class="row">
                  <div class="col-md-4 col-md-offset-8" style="text-align:right;">
                    <h2 style="z-index:1;position:relative;"><mark>Vision</mark></h2>
                    <p class=" fold-left" >
                        Tech-Innology aims to bring the very best of
                         Information technology to the marine
                        environment keeping the mariners and end
                        users as the focus.
                    </p>
                  </div>
                  
                </div>

                <div class="row">
                  
                  <div class="col-md-4 col-md-offset-8" style="text-align:left;">
                    <h2 style="z-index:1;position:relative;"><mark>Mission</mark></h2>
                    <p class=" fold-right">
                        To be one of the most exclusive service
                        providers in the Marine IT industry and deliver
                        the highest quality, reliable and cost-effective
                        services to marine businesses.
                    </p>
                  </div>
                  <!-- <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/Landing/Ship_1.png">
                  </div> -->
                </div>

                <div class="row" style="text-align: center">
                    <a routerLink="/index">
                      <button class="btn btn-xl viewDemoBtn">View Demo</button>
                    </a>
                </div>
              </section>

              <!-- <section id="view_demo" style="margin-top: 10px;">
                <div class="row parallax" style="text-align: center">
                  <div class="col-md-12" style="position:relative; top:100px;">
                    <p class="parallax-content">
                        It is not the ship so much as the
                        skillful sailing that assures the
                        prosperous voyage.
                    </p>
                    
                  </div>
                  <a routerLink="/index">
                    <button class="btn btn-xl btn-success" style="margin-top:150px;">View Demo</button>
                  </a>

                  
                  
                  
                </div>
              </section> -->

              
              <!-- <div class="row col-md-6 col-md-offset-3" style="text-align: center">
                <p class="before_probSoln">-YOUR PROBLEMS ARE OUR OPPORTUNITIES-</p>
              </div> -->

              

            </div>
          </div>
        </div>

        <div class="container-fluid" id="brief_background">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <section >
                    <div class="row background_content" style="padding-bottom:30px;background:linear-gradient(141deg, #6b729c 0%, #6169a2 51%, #5b907f 75%)">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                              <img class="img-responsive backgroundSectionImg" src="/assets/img/Landing/Ship_5.jpg">
                            </div>
                          </div>
                            
                          <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-6 col-sm-offset-3 backgroundText">
                                <h3 class="backgroundHeading" style="text-align:center;">A Brief Background</h3>
                                <div class="row backgroundRow">
                                  <i class="material-icons notranslate">donut_large</i>
                                  All Ships at sea needs provision to support its
                                  crew
                                </div>
          
                                <div class="row backgroundRow">
                                    <i class="material-icons notranslate">donut_large</i>
                                    Replenishing happens when it’s at port
                                </div>
          
                                <div class="row backgroundRow">
                                    <i class="material-icons notranslate">donut_large</i>
                                    Master of the ship plans the required
                                    provisions considering
                                    
                                        <li>Demography of the crew</li>
                                        <li>Daily/monthly food allowance per crew member</li>
                                      
                                </div>
          
                                <div class="row backgroundRow">
                                    <i class="material-icons notranslate">donut_large</i>
                                    Provision required for the next 1 to 1.5 months
                                    of the journey
                                </div>
                            </div>
                          </div>
                            
                        </div>
                      </div>
                </section>
            </div>
            </div>
        </div>
               
<div class="container-fluid" id="probSoln">
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                
                <section >
                  <div class="row parallax2">
                    <div class="col-md-6 hidden-xs">
                      <img class="img-responsive" src="/assets/img/Landing/problem3.png" style="height:404px">
                    </div>
                   
                    <div class="col-md-4 col-md-offset-2 pull-right" >
                      <div class="row" style="text-align:center;color:white;">
                        <h1 class="probHeading probBorder">Problems</h1>
                      </div>

                      <div class="row">
                          <ul class="solnRow" style="list-style: none;color:white;">
                            <li>No <mark>coherent view</mark> of the order</li>
                            <li><mark>Language</mark> barrier</li>
                            <li>Crew rotation</li>
                            <li>Stores management</li>
                            <li>Difficulties in <mark>provision planning</mark></li>
                            <li>Chances of <mark>mismanagement</mark></li>
                            <li>No tracking of wastage</li>
                            <li>No cost analysis or predictive rates</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                      
                  

                  <div class="row parallax">
                    
                    <div class="col-md-6"  >
                      <div class="row" style="text-align:center;">
                        <h1 class="solnHeading solnBorder">Solutions</h1>
                      </div>

                      <div class="row">
                        <ul class="solnRow" style="list-style: none">
                          <li><mark>Exclusive Catalogue</mark> of items (with filters like Halal items, etc)</li>
                          <li><mark>Secondary language</mark> support</li>
                          <li>All data are <mark>synced to cloud</mark></li>
                          <li>Food consumption tracking</li>
                          <li>Waste management tracking</li>
                          <li>Fall back to existing excel-email process when required</li>
                          <li>Report issues by taking snaps and uploading to the system</li>
                          <li>Data analysis to generate trends like crew preferences, 
                              seasonal products</li>
                        </ul>
                      </div>
                     
                    </div>

                    <div class="col-md-6 hidden-xs">
                      <img class="img-responsive" src="/assets/img/Landing/solution2.png" style="position:relative; top:25px">
                    </div>
                  </div>
                  
                 
                </section>
              

            </div>
          </div>
</div>
      

       
      

     <div class="container-fluid" id="contactUs">
          <div class="row">

        <section  >
          <div class="row" style="text-align:center">
            <div class="col-md-12">
              <h2 class="contactUsHeading">CONTACT US</h2>
              <!-- <p>Feel free to contact us and drop in your queries and valuable suggestions</p> -->
            </div>
          </div>
          <div class="row contactInfoSelf" style="text-align:center">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-4">
                  <i class="material-icons notranslate">business</i>Tech-Innology PTE. LTD
              </div>
              <div class="col-md-4" style="text-align: left">
                  <i class="material-icons notranslate">location_on</i>14 Robinson Road, #08-01A, Far East Finance Building, Singapore (048545)
              </div>
              <div class="col-md-4">
                  <i class="material-icons notranslate">email</i><a href="mailto:support@techinnology.com">  support@techinnology.com</a>
              </div>
  
              <!-- <div class="col-md-3">
                  <i class="material-icons notranslate">email</i><a href="mailto:askri73@gmail.com">  askri73@gmail.com</a>
              </div> -->
  
            </div>
          </div>
  
          <div class="row" style="padding-top:20px">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/Landing/contactUs_1.jpg" style="height:396px">
                </div>
  
                <div class="col-md-6" style="background-color:#262626">
                    <form method="GET" action="mailto:askri73@gmail.com" enctype="text/plain" role="form">
                      <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control border-yellow" id="exampleInputEmail1" placeholder="Enter Your Name" required>
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control border-red" id="exampleInputEmail2" placeholder="Enter Your Email">
                      </div>
                      <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control border-blue" placeholder="Write message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary contactBtn" (click)="contactUsBtnClicked()">Send Message</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        
      </div>
    </div>


  </div>

  <company-footer></company-footer>  

</div>


</div>



