<!-- 
<button type="button" class="btn btn-sm btn-primary add_button pull-right" title="Add Employee" (click)="openDialog()">
        <i class="material-icons notranslate plus_sign" >person_add</i>
    </button> -->

    <div class="wrapper">
        <div class="sidebar" data-color='orange' data-image=""  style="z-index:2032">
            <advertisement-sidebar></advertisement-sidebar>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
                
                <!-- <router-outlet></router-outlet> -->
                <div class="main-content">
                        <div class="container-fluid">
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title"><i class="material-icons notranslate">dashboard</i> Advertisements</h4>
                                            <!-- <p class="category">Here is a subtitle for this table</p>                       -->
                                        </div>
                                        
                                        <div class="card-content ">
                                          <div class="col-md-10 col-md-offset-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Title" [(ngModel)]="adTitle">
                                                            </mat-form-field>
                                                                
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-select placeholder="Enter Category" [(ngModel)]="adCategory" (change)="getSubCategory()">
                                                            <mat-option *ngFor="let category of categories" value="{{category.name}}">
                                                                {{category.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </div>

                                                    <div class="col-md-6" *ngIf="adCategory">
                                                        <mat-select placeholder="Enter Sub Category" [(ngModel)]="adSubCategory" (change)="getFilters()">
                                                            <mat-option *ngFor="let subcategory of subcategories" value="{{subcategory.name}}">
                                                                {{subcategory.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </div>
                                                </div>

                                                <div class="afterSubCategory" *ngIf="adSubCategory" style="border-top:solid black 1px">
                                                    <div *ngFor="let filters of reqdfilters">
                                                        <div class="row" *ngIf="filters.addType=='numeric'">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput type="number" placeholder="{{filters.name}}">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.addType=='text'">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="{{filters.name}}">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row"  *ngIf="filters.addType=='dropdown'">
                                                            <div class="col-md-12">
                                                                <mat-form-field>
                                                                    <mat-select placeholder="{{filters.name}}">
                                                                        <mat-option *ngFor="let val of filters.values" value="{{val}}">
                                                                            {{val}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row" *ngIf="filters.name=='Price-Range' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput type="number" placeholder="Price" [(ngModel)]="price">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.name=='Year-Range' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Year" [(ngModel)]="year">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.name=='Bedroom' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Bedroom" [(ngModel)]="bedroom">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6"  *ngIf="filters.name=='Milege' && !filters.hidden">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput  type="number" placeholder="Milege" [(ngModel)]="milege">
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-md-6"  *ngIf="filters.name=='Fuel-Type' && !filters.hidden">
                                                                <mat-select placeholder="Fuel Type" [(ngModel)]="fuel">
                                                                    <mat-option *ngFor="let val of filters.value" value="{{val}}">
                                                                        {{val}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </div>

                                                        <div class="row" *ngIf="filters.name=='Brand' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Brand" [(ngModel)]="brand">
                                                                </mat-form-field>
                                                            </div>
                                                        </div> -->

                                                        
                                                    
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="afterSubCategory" *ngIf="adSubCategory" style="border-top:solid black 1px">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Name" [(ngModel)]="name">
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <mat-form-field class="example-full-width">
                                                                <input type="number" matInput placeholder="Contact" [(ngModel)]="contact">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <mat-select placeholder="Country" [(ngModel)]="adCountry" (change)="getState()">
                                                                <mat-option *ngFor="let country of countries" value="{{country.name}}">
                                                                    {{country.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </div>

                                                        <div class="col-md-4" *ngIf="states.length>0">
                                                            <mat-select placeholder="State" [(ngModel)]="adState" (change)="getPort()">
                                                                <mat-option *ngFor="let state of states" value="{{state.name}}">
                                                                    {{state.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </div>

                                                        <div class="col-md-4" *ngIf="ports.length>0">
                                                            <mat-select placeholder="Port" [(ngModel)]="adPort">
                                                                <mat-option *ngFor="let port of ports" value="{{port.name}}">
                                                                    {{port.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <advertisement-footer></advertisement-footer>
        </div>
</div>



