<!-- 
<button type="button" class="btn btn-sm btn-primary add_button pull-right" title="Add Employee" (click)="openDialog()">
        <i class="material-icons notranslate plus_sign" >person_add</i>
    </button> -->

    <div class="wrapper">
        <div class="sidebar" data-color='red' data-image=""  style="z-index:2032">
            <company-sidebar></company-sidebar>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
                
                <!-- <router-outlet></router-outlet> -->
                <div class="main-content">
                        <div class="container-fluid">
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title"><i class="material-icons notranslate">dashboard</i> Advertisements</h4>
                                            <!-- <p class="category">Here is a subtitle for this table</p>                       -->
                                        </div>
                                        
                                        <div class="card-content ">
                                          <div class="col-md-10 col-md-offset-1">
                                            <div class="basic_details">
                                                <!-- title -->
                                                <div class="row">
                                                    <mat-form-field class="col-md-12">
                                                        <textarea textarea matInput 
                                                        matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" 
                                                        placeholder="Title" [(ngModel)]="adTitle"></textarea>
                                                    </mat-form-field>
                                                </div>

                                                <!-- category subcategory -->
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <mat-form-field>
                                                            <mat-select placeholder="Enter Category" [(ngModel)]="adCategory" (change)="getSubCategory()">
                                                                <mat-option *ngFor="let category of categories" value="{{category.name}}">
                                                                    {{category.name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-4" *ngIf="adCategory">
                                                        <mat-form-field>
                                                            <mat-select placeholder="Enter Sub Category" [(ngModel)]="adSubCategory" (change)="getFilters()">
                                                                <mat-option *ngFor="let subcategory of subcategories" value="{{subcategory.name}}">
                                                                    {{subcategory.name}}
                                                                </mat-option>
                                                            </mat-select>   
                                                        </mat-form-field>
                                                    </div>

                                                    
                                                    <div class="col-md-4">
                                                        <mat-checkbox (change)="needLogisticSupport($event)">Need Logistics Support</mat-checkbox>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="additionalDetails">
                                                <!-- images -->
                                                <div class="row images">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <label>Select Pictures</label>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <input type="file" id="bannerImg" (change)="onChangeImg($event)" multiple>
                                                            </div>
                                                        </div>
                                                            
                                                            <!-- <button (click)="uploadImg()">Upload</button> -->
                                                        <div class="row" *ngIf="adImage.length>0">
                                                            <div class="col-md-2" *ngFor="let img of adImage">
                                                                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(img.path)" id="addedImage"  
                                                                style="height:100px;width:100px;margin-right:20px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Description -->
                                                <div class="row">
                                                    <mat-form-field class="col-md-12">
                                                        <textarea textarea matInput 
                                                        matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                                                        placeholder="Description" [(ngModel)]="adDescription"></textarea>
                                                    </mat-form-field>
                                                </div>

                                                <!-- Filters -->
                                                <!--  style="border-top:solid black 1px" -->
                                                <div class="afterSubCategory" *ngIf="adSubCategory">
                                                    <div class="row">
                                                        <div class="col-md-12"> 
                                                            <mat-form-field>
                                                                <mat-select #valOfField placeholder="Select Currency" (change)="setCurrency(valOfField)">
                                                                    <mat-option *ngFor="let cur of currencyList" value="{{cur.id}}">
                                                                        {{cur.symbol}}--{{cur.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let filters of reqdfilters">
                                                        <div class="row" *ngIf="filters.addType=='numeric'">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput type="number" #valOfField id="{{filters.name}}" placeholder="{{filters.name}}" (focusout)="enterValue(valOfField)">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.addType=='text'">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput #valOfField id="{{filters.name}}" placeholder="{{filters.name}}" (focusout)="enterValue(valOfField)">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row"  *ngIf="filters.addType=='dropdown'">
                                                            <div class="col-md-12"> 
                                                                <mat-form-field>
                                                                    <mat-select #valOfField id="{{filters.name}}" placeholder="{{filters.name}}" (change)="enterValue(valOfField)">
                                                                        <mat-option *ngFor="let val of filters.values" value="{{val}}">
                                                                            {{val}}
                                                                        </mat-option>
                                                                    </mat-select>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row" *ngIf="filters.name=='Price' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput type="number" placeholder="Price" [(ngModel)]="price">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.name=='Year' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Year" [(ngModel)]="year">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="filters.name=='Bedroom' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Bedroom" [(ngModel)]="bedroom">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6"  *ngIf="filters.name=='Milege' && !filters.hidden">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput  type="number" placeholder="Milege" [(ngModel)]="milege">
                                                                </mat-form-field>
                                                            </div>

                                                            <div class="col-md-6"  *ngIf="filters.name=='Fuel-Type' && !filters.hidden">
                                                                <mat-select placeholder="Fuel Type" [(ngModel)]="fuel">
                                                                    <mat-option *ngFor="let val of filters.value" value="{{val}}">
                                                                        {{val}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </div>
                                                        </div>

                                                        <div class="row" *ngIf="filters.name=='Brand' && !filters.hidden">
                                                            <div class="col-md-12">
                                                                <mat-form-field class="example-full-width">
                                                                    <input matInput placeholder="Brand" [(ngModel)]="brand">
                                                                </mat-form-field>
                                                            </div>
                                                        </div> -->

                                                        
                                                    
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <mat-radio-group name="featured" [(ngModel)]="featuredId">
                                                                <mat-radio-button *ngFor="let plan of featuredPlans" value={{plan.id}} class="featuredPlans">
                                                                    <p>Name: {{plan.planName}}</p>
                                                                    <p>Duration: {{plan.duration}}  {{plan.periodType}}</p>
                                                                    <p>Amount: $ {{plan.amount}}</p>
                                                                </mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- <div class="row">
                                                        <div class="col-md-12">
                                                            <image-upload
                                                            
                                                            
                                                            (removed)="onRemoved($event)"
                                                            (uploadFinished)="onUploadFinished($event)"
                                                            (uploadStateChanged)="onUploadStateChanged($event)">
                                                            </image-upload>
    
                                                        </div>
                                                    </div> -->
                                                    
                                                </div>
                                            </div>

                                            <div class="contactDetails">
                                                <!-- style="border-top:solid black 1px" -->
                                                <div class="afterSubCategory">
                                                    <!-- Seller name and contacts -->
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Seller Name" [(ngModel)]="name">
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <mat-form-field class="example-full-width">
                                                                <input type="number" matInput placeholder="Contact" [(ngModel)]="contact">
                                                            </mat-form-field>
                                                        </div>
                                                        <!-- #valOfField id="{{filters.name}}" (change)="enterValue(valOfField)" -->
                                                        <div class="col-md-4">
                                                            <mat-form-field class="example-full-width">
                                                                <mat-select placeholder="Company" [(ngModel)]="companyId">
                                                                    <mat-option *ngFor="let comp of companyList" value="{{comp.id}}">
                                                                        {{comp.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <!-- Location -->
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Country" [(ngModel)]="adCountry" (change)="getState()">
                                                                    <mat-option *ngFor="let country of countries" value="{{country.name}}">
                                                                        {{country.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-md-4" *ngIf="states.length>0">
                                                            <mat-form-field>
                                                                <mat-select placeholder="State" [(ngModel)]="adState" (change)="getPort()">
                                                                    <mat-option *ngFor="let state of states" value="{{state.name}}">
                                                                        {{state.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="col-md-4" *ngIf="ports.length>0">
                                                            <mat-form-field>
                                                                <mat-select placeholder="Port" [(ngModel)]="adPort">
                                                                    <mat-option *ngFor="let port of ports" value="{{port.name}}">
                                                                        {{port.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="adSubCategory">
                                                <div class="col-md-12" style="text-align:center">
                                                    <button class="btn btn-primary btn-round" (click)="postAd()">Post AD</button>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- <img [src]="url"> -->
                </div>

                <company-footer></company-footer>
        </div>
</div>



