<!-- 
<button type="button" class="btn btn-sm btn-primary add_button pull-right" title="Add Employee" (click)="openDialog()">
        <i class="material-icons notranslate plus_sign" >person_add</i>
    </button> -->

    <div class="wrapper">
        <div class="sidebar" data-color='orange' data-image=""  style="z-index:2032">
            <advertisement-sidebar></advertisement-sidebar>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
                
                <!-- <router-outlet></router-outlet> -->
                <div class="main-content">
                        <div class="container-fluid">
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title"><i class="material-icons notranslate">dashboard</i> Advertisements</h4>
                                            <!-- <p class="category">Here is a subtitle for this table</p>                       -->
                                        </div>
                                        
                                        <div class="card-content ">
                                          Please Wait
                                    </div>
                                </div>
                              </div>
                    
                            
                                  
                        </div>
                    </div>
                
                    <advertisement-footer></advertisement-footer>
                
            </div>
</div>



