<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" style="position:fixed; z-index:4" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#"><i class="material-icons notranslate">directions_boat</i> Get My Req</a> -->
        </div>
        <div class="collapse navbar-collapse landingNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="" >
                    <a class="active" href="#mission_vission">Mission & Vision</a>
                </li>
                <li class="" >
                    <a href="#brief_background">Background</a>
                </li>
                <li class="">
                    <a  href="#probSoln">Problems & Solution</a>
                </li>
                <li class="">
                    <a href="#contactUs">Contact Us</a>
                </li>

                
            </ul>

            
        </div>
    </div>
</nav>
