/* .vessel_email
{
    color:#555555;
    font-size: 15px;
    position: relative;
    top: 12px;
} */

.navbar
{
    height: auto;
    padding: 5px !important;
    background-color: rgba(74, 49, 49, 0.56);
    color: white;
    position: fixed;
}


.active:hover{
   border: 4px solid gold;
    background:transparent;
    font-weight: 600;
    color:white;
 
}

.landingNavBar ul li{
    margin-right: 5px;
    height:auto;
}
.landingNavBar ul li:hover {
border: 4px solid gold;
    height:150%;
    transition:height 0.5s;
}

.active{
    border-bottom: 2px solid black;
    background:gold;
    font-weight: 600;
    color:black;
}