<!-- 
<button type="button" class="btn btn-sm btn-primary add_button pull-right" title="Add Employee" (click)="openDialog()">
        <i class="material-icons notranslate plus_sign" >person_add</i>
    </button> -->

<div class="wrapper">
        <div class="sidebar" data-color='red' data-image=""  style="z-index:2032">
            <company-sidebar></company-sidebar>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
        </div>
        <div class="main-panel">
                
                <!-- <router-outlet></router-outlet> -->
                <div class="main-content">
                        <div class="container-fluid">
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title"><i class="material-icons notranslate">dashboard</i> Advertisements</h4>
                                          <!--   <button class="btn btn-success" (click)="getAdvertisementsBySubCategory()" >Load by Subcat</button>
                                            <button class="btn btn-danger" (click)="getAdvertisementsBySearchTerm()">Load by Search Term</butto -->

                                        </div>
                                        
                                        <div class="card-content table-responsive">
                                             <div class="row">
                                                <div class="col-md-2">
                                                 <img src="../assets/img/olxicon.jpg" class="img-responsive" style="width: 30%;">
                                                </div>   

                                                <div class="col-md-3 pull-left">
                                                    <h4>Largest Market for Marine</h4>
                                                </div>  

                                                <div class="col-md-3">
                                                   <a routerLink="/company/login">
                                                    <h4  style="color:blue"><i class="material-icons notranslate">person</i> My Account</h4>
                                                   </a>
                                                </div>  

                                                <div class="col-md-3">
                                                  <a routerLink="/advertisements/create">
                                                    <button class="btn btn-warning" >Submit a Free Ad</button>
                                                  </a> 
                                                </div>  
                                            </div> 

                                            <div class="row" style="color:cornflowerblue" id="filters">

                                                <div class="col-md-3">
                                                    <mat-form-field>
                                                            <i class="material-icons notranslate" matPrefix>location_on</i>
                                                        <mat-select placeholder="Location"  [(ngModel)]="currentLocation" [ngModelOptions]="{standalone: true}">
                                                             
                                                            <mat-option  *ngFor="let location of  locations"  value="{{location}}" (click)="changeLocation()">
                                                                {{location}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                     <mat-form-field>
                                                        <mat-select placeholder="Category"  >
                                                            <mat-option  *ngFor="let category of  categories"  value="{{category.id}}" (click)="generateSubCategory(category,category.id)">
                                                                {{category.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                     </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                    <mat-form-field>
                                                        <mat-select placeholder="Sub Category"  >
                                                            <mat-option  *ngFor="let subCat of  subCatgories"  value="{{subCat.id}}"  (click)="setCurrentSubCategory(subCat)">
                                                                {{subCat.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3">
                                                        
                                                        <mat-form-field class="example-full-width">
                                                            <mat-icon matSuffix>search</mat-icon>
                                                                <input type="text" matInput  [(ngModel)]="searchTerm" (input)="getAdvertisementsBySearchTerm()" placeholder="Search for a specific product">
                                                                
                                                            </mat-form-field>
                                                    </div>
                                            </div> 
 
                                            <div class="row" id="filters">
                                                    
                                                <div *ngFor="let filters of mappedFilters">
                                                        
                                                    <div class="row" *ngIf="filters.type=='numeric'">
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput #valueOfField type="number" id={{filters.name}} placeholder="{{filters.name}}" (focusout)="submitFilterValues(valueOfField)">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngIf="filters.type=='text'">
                                                        <div class="col-md-12">
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput #valueOfField type="text" id={{filters.name}} placeholder="{{filters.name}}" (focusout)="submitFilterValues(valueOfField)">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row"  *ngIf="filters.type=='dropdown'">
                                                            
                                                        <div class="col-md-6" *ngIf="filters.extraInfo==false; else dropdownElse"> 
                                                            
                                                            <mat-form-field>
                                                                <mat-select #valueOfField placeholder="{{filters.name}}" id={{filters.name}} (change)="submitFilterValues(valueOfField)">
                                                                    <mat-option *ngFor="let val of filters.values" value="{{val}}">
                                                                        {{val}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <ng-template #dropdownElse> 
                                                            <div class="col-md-4">
                                                                    <mat-form-field >
                                                                            <mat-select  #valueOfFromField placeholder="{{filters.name}}" id={{filters.name}}_from (change)="submitFilterValues(valueOfFromField)">
                                                                                <mat-option *ngFor="let val of filters.values" value="{{val}}">
                                                                                    {{val}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                            </div>

                                                            <div class="col-md-4">
                                                                    <mat-form-field >
                                                                            <mat-select  #valueOfToField placeholder="{{filters.name}}" id={{filters.name}}_to (change)="submitFilterValues(valueOfToField)">
                                                                                <mat-option *ngFor="let val of filters.values" value="{{val}}">
                                                                                    {{val}}
                                                                                </mat-option>
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                            </div>
                                                            
                                                        </ng-template>
                                                    </div>
                                                   

                                                    
                                                
                                                </div>

                                            </div>

                                             <div class="row" id=ads>
                                                <table class="table table-hover table-responsive" >
                                                    <thead class="text-danger notranslate" style="text-align:center">
                                                        <tr class="row"  >
                                                            <th class="" >Featured </th>
                                                            <th class="" >Image </th>
                                                            <th class="" >Product Name </th>
                                                            <th class="">Description</th>
                                                            <th class="">Category</th>
                                                            <th class="">SubCategory</th>
                                                            <th class="">Location</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let ad of advertisements">
                                                        
                                                        <tr class="row" *ngIf="ad.isOpen==true">
                                                            <td class="" >
                                                                <img src="/assets/img/featured_1.png" *ngIf="ad.isFeatured==true" style="width:75px; height:75px">
                                                            </td>
                                                            <td *ngIf="ad.images.length>0;else noImgBlock">
                                                                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ad.images[0].path)" style="height:100px;width:100px;">
                                                            </td>
                                                            <ng-template #noImgBlock>
                                                                <img src="/assets/img/nophoto.jpg" style="height:100px;width:100px;">
                                                            </ng-template>
                                                            <!-- <td><img src="" class="imgBlock"  ></td> -->
                                                            <td class=" notranslate"><a  routerLink="/advertisement/{{ad.productName}}">  {{ad.productName}}  </a> </td>
                                                            <td  class="">{{ad.productDescription}}</td>
                                                            <td  class="">{{ad.subCategoryDetails.categoryDetails.name}}</td>
                                                            <td class="">{{ad.subCategoryDetails.name}} </td>
                                                            <td class="">{{ad.portDetails.name}},{{ad.portDetails.stateDetails.name}},{{ad.portDetails.stateDetails.countryDetails.name}} </td>
                                                                
                                                            
                                                        </tr>
                                                    
                                                    </tbody>
                                                </table> 

                                            </div>

                                        </div>
                                    </div>
                                </div>
                              </div>
                    
                            
                                  
                        </div>
                    </div>
                
                    <company-footer></company-footer>
                
            </div>
</div>



