
        <div class="main-content">
                <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                            
                            <!-- <div class="card card-profile col-md-3 col-xs-12 col-sm-6 loginAs" >
                                    <!- <div class="card-header" data-background-color="red">
                        `                <i class="material-icons notranslate">store</i> <h2> Login As </h2>
                                    </div>  -->
        <!-- Styles  

        style="color:white;height:auto;width:auto;padding:10px;margin-top:50px;background-color:#084f94;
                                        -webkit-box-shadow:0 0 10px #123;
                                        -moz-box-shadow:0 0 10px #123;
                                        box-shadow:0 0 10px #123;"

                                    -->

                            <div class="row">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <a routerLink="/landing" title="Go To Home Page" class="col-md-1 col-xs-12 col-sm-2 pull-left">  <i class="material-icons notranslate homeIconBtn">home</i> </a>
                                            </div> 
                                            <div class="col-md-11">
                                                <label class="viewDemoAs">  View Demo As </label> <!--<i class="material-icons notranslate">visibility</i> -->
                                            </div>
                                        </div>
                                    </div> 
                            </div> 

        <!--Admin Login -->
        <div class="row">
                        <div class=" col-md-3 col-xs-* col-sm-6">
                            <a routerLink="/admin/login">    
                                <div class="card card-profile loginAs">        
                            
                                        <div class="card card-stats" >
                                                <div class="card-header" data-background-color="orange">
                                                    <i class="material-icons notranslate">store</i>
                                                </div>
                                                <div class="card-content">
                                                    <p class="category"></p>
                                                    <h3 class="title">Admin</h3>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                            <b>	Login In To Your Admin Profile</b>                
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </a> 
                        </div>
        <!-- Company -->
                                <div class=" col-md-3 col-xs-12 col-sm-6">
                                    <a routerLink="/company/login">
                                        <div class="card card-profile loginAs" >          
                                
                                                <div class="card card-stats" >
                                                    <div class="card-header" data-background-color="red">
                                                        <i class="material-icons notranslate">business</i>
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category"></p>
                                                        <h3 class="title">Company</h3>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <b>	Login In To Your Company Profile</b>                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>      
                                        </a>         
                                </div>       
                                    <!-- Vessel-->
                                <div class=" col-md-3 col-xs-12 col-sm-6">
                                    <a routerLink="/vessel/login">
                                        <div class="card card-profile loginAs" >          
                                                <div class="card card-stats" >
                                                    <div class="card-header" data-background-color="blue">
                                                        <i class="material-icons notranslate">directions_boat</i>
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category"></p>
                                                        <h3 class="title">Vessel</h3>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <b>	Login In To Your Vessel Profile</b>                
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>               
                                    </a> 
                                </div>  

                                    <!-- Vendor -->
                                <div class=" col-md-3 col-xs-12 col-sm-6">
                                    <a routerLink="/vendor/login">   
                                        <div class="card card-profile loginAs" >          
                                                <div class="card card-stats" >
                                                    <div class="card-header" data-background-color="green">
                                                        <i class="material-icons notranslate">business_center</i>
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category"></p>
                                                        <h3 class="title">Vendor</h3>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="stats">
                                                                <b>	Login In To Your Vendor Profile</b>                
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>               
                                    </a>     
                                </div> 
                            </div>          
                    </div>
                </div>
            </div>
        </div>
        <company-footer></company-footer>
