
<div class="wrapper">
            
  <div class="sidebar" data-color='purple' data-image="" style="z-index:2032">
      <admin-sidebar></admin-sidebar>
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>

  

  <div class="main-panel">
     
          <!-- <router-outlet></router-outlet> -->
          <div class="main-content">

                  <div class="container-fluid">

                    <div class="row">
                      <div class="col-md-12">
                         
                        <div class="card">
                              <div class="card-header" data-background-color="purple">
                                  <h2>
                                    <i class="material-icons notranslate" style="font-size:40px;">list</i>
                                    <span>Filter Management</span>
                                   
                                  </h2>
                              </div>
                              <div class="card-content">
                                  <div class="row">
                                    <div class="col-md-4 col-md-offset-1">
                                      <label>Category : </label>
                                      <mat-form-field>
                                          <mat-select  placeholder="Category"  (change)="getSubCatByCat($event)">
                                              <mat-option  *ngFor="let cat of category"  value="{{cat.id}}">
                                                  {{cat.name}}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>

                                    </div>
                                    <div class="col-md-4 col-md-offset-1" *ngIf="subCatsByCat">
                                        <label>Sub-Category : </label>
                                        <mat-form-field>
                                            <mat-select placeholder="Sub-Category" (change)="getFiltersBySubCat($event)" >
                                                <mat-option *ngFor="let subCat of subCatsByCat"   value="{{subCat.id}}">
                                                    {{subCat.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
  
                                      </div>
                                  </div>
                                  <div class="row" *ngIf = "filtersBySubCat.length >= 1">
                                    <div class="col-md-12">
                                      <h2>Filters Already Tagged Are</h2>
                                      <div class="table-responsive">
                                        <table class="table table-hover">
                                          <thead class="text-primary">
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Desc</th>
                                            <th class="text-center">Value</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">Add-Type</th>
                                            <th class="text-center">Extra-Info</th>
                                          </thead>
                                          <tbody class="text-center">
                                            <tr *ngFor="let fil of filtersBySubCat">
                                              <td>{{fil.details.name}}</td>
                                              <td>{{fil.details.description}}</td>
                                              <td *ngIf="fil.values.length >= 1; else noValue">
                                                 <!-- <span *ngIf="!editDropdown">  -->
                                                     {{fil.values}} 
                                                        <i class="material-icons"  title="Edit Filter" style="color:blue;font-weight:800;cursor:pointer;" (click)="editDropdownVal(fil.details.id)">
                                                                edit
                                                             </i>
                                                 <!-- </span>
                                                <span *ngIf="editDropdown">
                                                        <mat-form-field class="example-full-width">
                                                                <input matInput placeholder="Dropdown Value" [(ngModel)]="currentDropdownVal">
                                                              </mat-form-field>
                                                        <button class="btn btn-sm btn-primary" (click)="addDropdownValue()">Add</button>   
                                                        <button class="btn btn-sm btn-success" (click)="saveEditedDropdownVal()">Save</button>
                                                </span> -->
                                              </td>

                                              <td>{{fil.details.type}}</td>
                                              <td>{{fil.details.addType}}</td>
                                              <td *ngIf="fil.details.extraInfo else elseBlock">
                                                  <i class="material-icons" style="color:green;font-weight:800;" title="Has Extra Info">
                                                      check
                                                      </i>
                                              </td>
                                              <ng-template #elseBlock>
                                                <td>
                                                    <i class="material-icons" style="color:red;font-weight:800;" title="No Extra Info">
                                                        clear
                                                        </i>
                                                </td>
                                              </ng-template>
                                              <ng-template #noValue>
                                                <td>
                                                    <i class="material-icons" style="color:black;font-weight:800;" title="Has No Value">
                                                      remove
                                                        </i>
                                                </td>
                                              </ng-template>
                                            </tr>
                                            <tr>
                                              <td class="col-md-12 pull-right">
                                              <button class="btn btn-sm btn-primary" (click)="checkAddFilter()">  Add Filter  </button>
                                              </td>
                                            </tr>
                                            <tr *ngIf="addFilter">
                                              <td>
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Filter Name" [(ngModel)]="filterName" value="" >
                                                    </mat-form-field>
                                              </td>
                                              <td colspan="2">
                                                  <mat-form-field class="example-full-width">
                                                      <input  matInput placeholder="Filter Desc"  [(ngModel)]="filterDesc" value="" >
                                                    </mat-form-field>
                                              </td>
                                              <td>
                                                  <mat-form-field>
                                                      <mat-select  placeholder="Type" (change)="onChangeFilterType($event)"  [(ngModel)]="filterType">
                                                          <mat-option value="text">
                                                              Text
                                                          </mat-option>
                                                          <mat-option value="numeric">
                                                              Numeric
                                                          </mat-option>
                                                          <mat-option value="dropdown">
                                                              Dropdown
                                                          </mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                              </td>
                                              <td>
                                                  <mat-form-field>
                                                      <mat-select  placeholder="Add-Type" [(ngModel)]="filterAddType">
                                                          <mat-option value="text">
                                                              Text
                                                          </mat-option>
                                                          <mat-option value="numeric">
                                                              Numeric
                                                          </mat-option>
                                                          <mat-option value="dropdown">
                                                              Dropdown
                                                          </mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                              </td>
                                              <td>
                                                  <mat-checkbox (change)="checkExtraInfo()" [checked]="extraInfo">Extra Info</mat-checkbox>
                                              </td>
                                            </tr>
                                            <!-- Dropdown Value -->

                                            <tr *ngIf="addDropdown">
                                              <td>
                                                <h3>Add Dropdown Values</h3>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Dropdown Value" [(ngModel)]="currentDropdownVal">
                                                    <i class="material-icons" title="Add Filter" (click)="addDropdownValue()" style="color:green;cursor:pointer;" matSuffix>
                                                            check_circle
                                                    </i>
                                                  </mat-form-field>
                                                      
                                              </td>
                                              <td *ngIf="listOfDropdownVal.length >= 1" colspan="5">
                                                <h3> Added Values Of Dropdown </h3>
                                                <h6 *ngFor="let val of listOfDropdownVal "> {{val}} </h6>
                                              </td>
                                            </tr>

                                            <tr *ngIf="addFilter">
                                              <button class="btn btn-sm btn-success" (click)="saveFilter()">Save</button>
                                              <button class="btn btn-sm btn-danger" (click)="closeFilter()">Close</button>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                    
                                    </div>
                                  </div>
                                   
                              </div>
                              <div class="card-footer">
                                  <div class="stats">
                                      <i class="material-icons notranslate">local_offer</i> Updated
                                  </div>
                              </div>
                          </div>

                    </div>
                  </div>
                         
                     
              </div>
         
  </div>
</div>

<!-- Edit Dropdown Modal -->
<div id="editDropdownModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Dropdown Value</h4>
            </div>
            <div class="modal-body">
                    <!-- <mat-form-field class="example-full-width">
                            <input matInput placeholder="Dropdown Value" [(ngModel)]="currentDropdownVal">
                          </mat-form-field> -->
                          
                     <span  *ngFor="let val of editFilterVal; let i=index">

                            <mat-form-field class="example-full-width" style="width:100%;">
                                    <input matInput placeholder="Filter Name" id="editDropdownVal{{i+1}}" value="{{val}}" autofocus>
                                  
                                <i class="material-icons" id="deleteFilter" matSuffix (click)="deleteFilterVal(i)" style="cursor:pointer;" title="Delete Filter">
                                    add_circle
                                </i>           
                            </mat-form-field>
                     </span>

                     <!-- <span  *ngFor="let val of addEditFilter;">

                            <mat-form-field class="example-full-width" style="width:100%;">
                                    <input matInput placeholder="Filter Name" id="editDropdownVal{{editFilterVal.length + val + 1}}" value="">
                                  
                                <i class="material-icons" id="deleteFilter" matSuffix>
                                    add_circle
                                </i>           
                            </mat-form-field>
                     </span> -->

                    <button class="btn btn-sm btn-primary" (click)="addEditedDropdownValue()">Add</button>   
                    
            </div>
            <div class="modal-footer">
              <button class="btn btn-sm btn-success" (click)="saveEditedDropdownVal()">Save</button>
              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
